.backdropImage {
    display: none !important;
  }
  
  .backgroundContainer {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url('https://i.ytimg.com/vi/avCWDDox1nE/maxresdefault.jpg') !important;
    filter: blur(10px) !important;
    background-size: cover !important;
  }